@{
    ViewData["Title"] = "Test Response";
    var selectedLink = ViewData["SelectedLink"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        iframe {
            flex: 1;
            border: none;
        }
    </style>
</head>
<body>
    <h2 class="text-center">@ViewData["Title"]</h2>
    <div>
        <iframe id="embeddedSheet" width="1200" height="600" frameborder="0" scrolling="no" src="@selectedLink"></iframe>
    </div>
</body>
</html>